<% @page_title = "Users Index" %>
<%= link_to(image_tag('forward_button.png', :size => '23x23', :alt => '-->', :class => 'forward') + "View Shop", {controller: 'products',:action => 'index'}, :class => 'forward_link')%>
<div class='center'>
  <h1> User Panel </h1>
</div>
<% @users.each do |user| %>
<% if policy(user).Seller? %>
<%= link_to '<button type="button" ">Add Product</button>'.html_safe, {controller: 'products', :action => 'new', :id => user.id}, :class => 'action_new'%>
<% end %>
<% end %>
</br>
</br>
<div class= 'jumbotron'>

   <table class="listing" summary="user list">
    <tr class="header">
      <!-- <th>&nbsp;</th> -->
      <th>Name</th>
      <th>Type</th>
      <th>Products</th>
      <th>Actions</th>
    </tr>
    <% @users.each do |user| %>
      <% if user.id == current_user.id || current_user.store_admin? %>
              <tr class="<%= cycle('even', 'odd')%>" >
                <% next if user.id == 1 || user.type == 'buyer' %>
                <!-- <td><%= user.id %></td> -->
                <td><%= user.name if user.products %></td>
                <td><%= user.type.capitalize if user.type == 'seller' || user.products %></td>
               <td><%= user.products.count %></td>


                 <td class="actions">

                 <% if policy(user).Admin? || policy(user).Seller? %>
                  
                  <%= link_to('<button type="button" ">User Details</button>'.html_safe, {action: 'show', :id => user.id} , :class => 'action_user') %>

                  <% end %>

                  <% if policy(user).Seller? %>

                  <%= link_to('<button type="button" ">Sell to User</button>'.html_safe, {controller: 'sellings', action: 'sell_to_user', :seller_id => user.id} , :class => 'action_user')
                   %>


                  <%= link_to('<button type="button" ">Sell to Shop</button>'.html_safe, {action: 'sell_to_shop', :seller_id => user.id} , :class => 'action_user') %>
                  
                  <% end %>

                  <% if policy(user).Admin? %>
                  <%= link_to('<button type="button" ">Delete User</button>'.html_safe, {action: 'delete', :id => user.id} , :class => 'action_user') %>
                  <% end %>

                </td>
              </tr>
          <% end %>
        <% end %>
  </table>

</div>