<% @page_title = "Users" %>

<div class="Users index">
  <br/>
  <%= link_to('<<Back to Products', :controller => 'products', :action => 'index') %>
  <h2>Users</h2>

    <% if policy(User).create_users? %>
      <%= link_to('Add User', {:action => 'new'}, :class => 'action new') %>
    <% end %>


  <table class="listing" summary="user list">
    <tr class="header">
      <th>&nbsp;</th>
      <th>Name</th>
      <th>Type</th>
      <th>Products</th>
      <th>Actions</th>
    </tr>
    <% @users.each do |user| %>
    <tr class="<%= cycle('even', 'odd')%>" >
      <% next if user.id == 1 %>
      <td><%= user.id %></td>
      <td><%= user.name if user.products %></td>
      <td><%= user.type if user.products %></td>
     <td><%= user.products.map{|p| p.name} %></td>


       <td class="actions">
        <% if policy(user).show? %>
        <%= link_to("Show", {:action => 'show', :id => user.id} , :class => 'action show') %>
        <% end %>

         <% if policy(user).add_products? %>
         
        <%= link_to("Add Product", {:controller => 'products', :action => 'new', :id => user.id}, :class => 'action show') %>
        <% end %>

        <% if policy(user).buy_products? && user.type != current_user.type %>
        <%= link_to("Buy Products",{:controller => 'sellings', :action => 'trade', :id => user.id}, :class => 'action show') %>
        <% end %>

        <% if policy(user).destroy? %>
        <%= link_to("Delete User", {action: 'delete', :id => user.id} , :class => 'action delete') %>
        <% end %>

      </td>
    </tr>
    <% end %>
  </table>
</div>